<header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
          </a>
          <a href="/home" class="list-group-item list-group-item-action py-2 ripple aria-current" style="background-color: lightsteelblue;">
           <span>View All Posts</span>
          </a>&nbsp;
          <a href="/addPost" class="list-group-item list-group-item-action py-2 ripple aria-current" style="background-color: lightsteelblue;"
            ><span>Add Post</span></a
          >&nbsp;
          <a href="/viewPost" class="list-group-item list-group-item-action py-2 ripple aria-current" style="background-color: lightsteelblue;"
            ><span>View Your Posts</span></a >


        </div>
      </div>
    </nav>  
  </header>
  
  <!--Main layout-->
  <main style="margin-top: 48px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->
  