*{
    font-family: 'Comfortaa', cursive;
}
.info{
    margin-left: 318px;
    margin-top: -378px
}

.background-image{
    height: 557px;
    width: 100%;
}

.example{
    margin-top: -73px;
    margin-left: 241px;
}