  <div class="example">  
    <img  class="background-image" src="../../../assets/blog31.jpg">  
    <div class="info">
        <h2 class="account" style="font-weight:600; margin-bottom: 25px;">Your Account Information</h2>
        <div>
        <p><span>User Id - </span>{{myId}}</p>
        <p><span>UserName - </span><span>{{myName}}</span></p>
        <p><span>Email - </span><span>{{myEmail}}</span></p>
        <p><span>About - </span><span>{{myAbout}}</span></p>
      </div>
    </div>
  
  </div>
  