<nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand" href="#"> <i class="fa-solid fa-blog"></i> Blog Application</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="col-md-3" *ngIf="authService.isAuthenticated()">

                <li class="nav-item active">
                    <a class="nav-link" href="#"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="col-md-3" *ngIf="authService.isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="/dashboard">Dashboard </a>
                </li>
            </div>
        </ul>
        <div *ngIf="authService.isAuthenticated()">
            <b style="margin-left: 76px; color: white;  text-shadow: 2px 2px 4px #000000; font-family: cursive">Welcome
                {{myName}}</b>
        </div>
        <div class="col-md-3" *ngIf="authService.isAuthenticated()">

                <button class="btn btn-outline-primary my-2 my-sm-0" type="logout" (click)="logout()"
                    style="background-color: gainsboro; margin-left: 150px">Logout</button>
            
        </div>
        <div class="col-md-3" *ngIf="!authService.isAuthenticated()">
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="login" routerLink="/login"
                    style="background-color: gainsboro; margin-left: 150px">Login</button>
            </form>
        </div>

    </div>
</nav>